<% if current_user.admin? %>
	<div class="commentHead"> Welcome Admin </div>
<% else %>
	<div class="commentHead">  Welcome User </div>
<% end %>

<h1> Welcome to Zockerpartner!</h1>
<ul>
	<li>Find partners to play with!</li>
	<li>Give them ratings!</li>
	<li>Leave them a comment!</li>
</ul>
<h3>Use the Navigation at the top!</h3>